<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjingwen.szptcoins.mapper.CourtMapper">
    <resultMap id="BaseResultMap" type="com.zjingwen.szptcoins.pojo.Court">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="cName" jdbcType="VARCHAR" property="cName"/>
        <result column="mId" jdbcType="INTEGER" property="mId"/>
        <result column="rPower" jdbcType="DECIMAL" property="rPower"/>
        <result column="teacher" jdbcType="VARCHAR" property="teacher"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, level, cName, mId, rPower, teacher
    </sql>
    <select id="selectByExample" parameterType="com.zjingwen.szptcoins.pojo.CourtExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from court
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from court
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from court
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zjingwen.szptcoins.pojo.Court"
            useGeneratedKeys="true">
        insert into court (level, cName, mId,
        rPower, teacher)
        values (#{level,jdbcType=INTEGER}, #{cName,jdbcType=VARCHAR}, #{mId,jdbcType=INTEGER},
        #{rPower,jdbcType=DECIMAL}, #{teacher,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zjingwen.szptcoins.pojo.Court"
            useGeneratedKeys="true">
        insert into court
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="level != null">
                level,
            </if>
            <if test="cName != null">
                cName,
            </if>
            <if test="mId != null">
                mId,
            </if>
            <if test="rPower != null">
                rPower,
            </if>
            <if test="teacher != null">
                teacher,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="cName != null">
                #{cName,jdbcType=VARCHAR},
            </if>
            <if test="mId != null">
                #{mId,jdbcType=INTEGER},
            </if>
            <if test="rPower != null">
                #{rPower,jdbcType=DECIMAL},
            </if>
            <if test="teacher != null">
                #{teacher,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zjingwen.szptcoins.pojo.Court">
        update court
        <set>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="cName != null">
                cName = #{cName,jdbcType=VARCHAR},
            </if>
            <if test="mId != null">
                mId = #{mId,jdbcType=INTEGER},
            </if>
            <if test="rPower != null">
                rPower = #{rPower,jdbcType=DECIMAL},
            </if>
            <if test="teacher != null">
                teacher = #{teacher,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zjingwen.szptcoins.pojo.Court">
        update court
        set level = #{level,jdbcType=INTEGER},
        cName = #{cName,jdbcType=VARCHAR},
        mId = #{mId,jdbcType=INTEGER},
        rPower = #{rPower,jdbcType=DECIMAL},
        teacher = #{teacher,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>